* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Poppins'
}   

.container {
    max-width: 1512px;
    margin-inline: auto;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    
}

.portfolio > div {
     background: orange;
     padding: 29px;
     display: grid;
     align-content: flex-end;
}
.portfolio-1 {
     grid-area: 1 / 1 / 2 / 2;
     }
.portfolio-2 {
     grid-area: 1 / 2 / 3 / 3;
     }
.portfolio-3 {
     grid-area: 1 / 3 / 2 / 4;
     }
.portfolio-4 {
     grid-area: 2 / 1 / 4 / 2;
     }
.portfolio-5 {
     grid-area: 3 / 2 / 4 / 3;
     }
.portfolio-6 {
     grid-area: 2 / 3 / 4 / 4;
     }



.products {
    margin-top: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(424px, 1fr));
}


.products > div {
    background: orange;
    padding: 29px;
    display: grid;
    align-content: flex-end;
}